{% extends "base.html" %}
{% block content %}

{% if site_key != '' %}
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
<script>
var onloadCallback = function() {
    {% for dataset_name in field_values %}
    grecaptcha.render('recaptcha_{{ dataset_name }}', {'sitekey' : '{{ site_key }}'});
    {% endfor %}
};
</script>
{% endif %}

<br />

<div class="well">
    <h1>Data exporter info</h1>
    <p>Crime is public record.  But it has taken our team over two years to acquire this data, convert it to useful and universal formats, identify clerical errors and duplicates, and classify the offenses into a broad and specific categories.  We are now opening this up for everyone to have the opportunity to detect and understand the patterns of crime.</p>
    <p>Our long term goal is to steer social policy in an evidence-based manner.  Legal policy is often driven by intuition and politics more than by data analysis.  Large-scale data analysis has the potential to reveal patterns that will assess the efficacy of legislation.  Using millions of criminal records from multiple states, we mine patterns of crime and recidivism to help navigate a more effective criminal justice policy.  Which policies over the past few decades have effectively reduced crime?  Which types of crime respond to which types of policies?  Are there “gateway crimes” that lead offenders to commit other crimes in the future?  What patterns correlate with re-offense?  Which crime types cluster, and which are rarely performed by the same individual?  When does sentencing effectively prevent offenders from reoffending?</p>
    <p>Funding for this tool was provided by the National Science Foundation SBE Office of Multidisciplinary Activities under Grant No. 1439453.</p>
</div>

<ul class="nav nav-tabs">
    {% for dataset_name in field_values %}
    <li><a href="#tab_pane_{{dataset_name}}">{{ datasets[dataset_name]['name'] }}</a></li>
    {% endfor %}
</ul>


<div class="tab-content" >
    {% for dataset_name in field_values %}

    <div class="tab-pane" id="tab_pane_{{dataset_name}}">

        <!-- {{ "{:,}".format(dataset_record_count[dataset_name]) }} total records<br /> -->

    <div class="panel panel-primary">
        <div class="panel-heading">Data Description</div>
        <div class="panel-body">
            <p>
            {{ datasets[dataset_name]['description'] }}
            </p>

        </div>
    </div>

    <form class="form-inline" role="form" action="submit_job" method="post" data-toggle="validator">

        <input type="hidden" name="dataset_name" value="{{ dataset_name }}" />

        <div class="panel panel-primary">
            <div class="panel-heading">Variables to Select</div>
            <div class="panel-body">
                <select class="select_vars" name="select_vars" multiple="multiple">
                    {% for field in dataset_fields[dataset_name] %}
                    <option selected="selected" value="{{ field }}">{{ datasets[dataset_name]['fields'][field] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Filters / Subsets</div>
            <div class="panel-body">
                {% for field in field_values[dataset_name] %}
                <div>
                    <label>{{ datasets[dataset_name]['fields'][field] }}
                        <select class="filter_vars" name="filter_vars_{{ field }}" multiple="multiple">
                            {% for value in field_values[dataset_name][field] %}
                            <option selected="selected" value="{{ value }}">
                            {% if value == '' %}
                            (blank)
                            {% else %}
                            {{ value }}
                            {% endif %}
                            </option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                {% endfor %}

            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Random Sampling</div>
            <div class="panel-body">

                <label> 
                    <input name="do_sampling" type="checkbox" />
                    Use a random sample of the data
                </label>
                <br />

                <label> 
                    Include <input name="sample_percent" type="text" value="10" size="2">% of the records
                </label>
                <br />

                <label>
                    Proportions will be maintained for these variables: <br />
                    <ul>
                        {% for field in field_values[dataset_name] %}
                        <li>{{ datasets[dataset_name]['fields'][field] }}</li>
                        {% endfor %}
                    </ul>
                </label>

            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Contact Information</div>
            <div class="panel-body">

                <p>It will take a few minutes for the data export to be generated. We'll email you when the file is ready.</p>

                <div class="form-group">

                    <table>
                      <tr><td style="padding: 3 13 3 0;"> <label>Email Address</label> </td><td> <input type="email" name="email" data-error="That email address is invalid" required="required" /> </td></tr>
                      <tr><td style="padding: 3 13 3 0;"> <label>First Name</label>    </td><td> <input type="text" name="firstname" /> </td></tr>
                      <tr><td style="padding: 3 13 3 0;"> <label>Last Name</label>     </td><td> <input type="text" name="lastname" /> </td></tr>
                      <tr><td style="padding: 3 13 3 0;"> <label>Affiliation</label>   </td><td> <input type="text" name="affiliation" /> </td></tr>
                      <!--tr><td style="padding: 3 13 3 0;"> <label>Phone Number</label>  </td><td> <input type="text" name="phonenumber" /> </td></tr-->
                    </table>

                    <div class="help-block with-errors"></div>
                </div>

                {% if site_key != '' %}
                <div id="recaptcha_{{ dataset_name }}"></div>
                {% endif %}

            </div>
        </div>

        <div class="clearfix">
            <input type="submit" value="Export!" class="btn btn-success btn-lg pull-right" />
        </div>

    </form>

    </div> <!-- tab-pane -->

    {% endfor %}

</div> <!-- tab-content -->

{% endblock %}
